h1{
	text-align: center;
	color: #F89406;
}
.rig{
	text-align: left;
}
.cen{
	text-align: center;
}
.lef{
	text-align: right;
}
table,td,th,tr{	
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
	padding: 5px;
}
th{
	background-color: black;
	color:white;
}

.col{
	background-color: yellow;
}
fieldset{
	width: 20%
}